@import "../variables";

.footer{
  flex: 0 0 auto;
  margin-top: auto;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__title{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 16px;
    line-height: 19px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  &__social-link{
    margin-right: 15px;
  }
  &__copy{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
}