@import "../variables";

.not-found{
  text-align: center;
  margin-top: 100px;
  &__title1{
    font-size: 124px;
    line-height: 132px;
    font-weight: 700;
    color: $main;
    margin-bottom: 20px;
  }
  &__title3{
    font-size: 54px;
    line-height: 62px;
    font-weight: 300;
    color: $main;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}